In [5]:
import pandas as pd
import numpy as np
import plotly.express as px
import os
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
path_archivos = "./Data/"
os.listdir(path_archivos)

['SpecialSale.xlsx',
 'backs',
 'InversionMedia.xlsx',
 'Sales.xlsx',
 'InversionComp.xlsx',
 'Sector.xlsx',
 'MonthlyNPSscore.xlsx']

In [17]:
SpecialSale = pd.read_excel(path_archivos + "SpecialSale.xlsx")
SpecialSale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        37 non-null     datetime64[ns]
 1   Sales Name  37 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 720.0+ bytes

In [18]:
media_investment = pd.read_excel(path_archivos + "InversionMedia.xlsx")
media_investment.describe()

        Print   Other   Email   Radio  Facebook  Google  Pay TV  Open TV
count 104.000 104.000 104.000 104.000   104.000 104.000 104.000  104.000
mean    1.721   1.202   3.510   0.481     8.962  10.865   9.779   19.067
std     1.749   1.152   2.208   0.557     4.946   5.467  11.702   21.755
min     0.000   0.000   0.000   0.000     1.000   1.000   0.000    0.000
25%     0.000   0.000   2.000   0.000     5.000   6.000   1.000    0.000
50%     1.000   1.000   3.000   0.000     9.000  12.000   5.000   10.000
75%     3.000   2.000   5.000   1.000    12.250  15.250  15.000   35.000
max     6.000   5.000   7.000   3.000    17.000  22.000  55.000   89.000

In [19]:
sales = pd.read_excel(path_archivos + "Sales.xlsx")
sales.describe()

               Sales     NPS
count        104.000 104.000
mean   292159859.244  60.269
std    192496485.520  16.307
min     14721604.800  26.000
25%    177946952.359  48.500
50%    244364735.633  62.500
75%    370158440.994  72.000
max   1138301232.488  95.000