In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, TimeSeriesSplit

In [2]:
data = pd.read_csv('mmm.csv')
data

           Date        TV    Radio  Banners     Sales
0    2018-01-07  13528.10     0.00     0.00   9779.80
1    2018-01-14      0.00  5349.65  2218.93  13245.19
2    2018-01-21      0.00  4235.86  2046.96  12022.66
3    2018-01-28      0.00  3562.21     0.00   8846.95
4    2018-02-04      0.00     0.00  2187.29   9797.07
..          ...       ...      ...      ...       ...
195  2021-10-03      0.00     0.00  1691.68   9030.17
196  2021-10-10  11543.58  4615.35  2518.88  15904.11
197  2021-10-17      0.00  4556.16  1919.19  12839.29
198  2021-10-24      0.00     0.00  1707.65   9063.45
199  2021-10-31      0.00     0.00  1863.31   7250.21

[200 rows x 5 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     200 non-null    object
 1   TV       200 non-null    float64
 2   Radio    200 non-null    float64
 3   Banners  200 non-null    float64
 4   Sales    200 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.9+ KB

In [4]:
data.describe()

                 TV        Radio      Banners         Sales
count    200.000000   200.000000   200.000000    200.000000
mean    2946.207650  2213.585050  1520.722550  10668.141500
std     4749.646908  2505.967886   870.764354   2700.706683
min        0.000000     0.000000     0.000000   4532.330000
25%        0.000000     0.000000  1657.195000   8396.942500
50%        0.000000     0.000000  1918.990000  10853.105000
75%     7938.527500  4624.027500  2069.767500  12566.995000
max    13901.550000  7696.220000  2518.880000  17668.340000

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=73799214-c82f-4d72-a84b-911c2c6fd0e0' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>